
* {
    box-sizing: border-box;
}

body {
    background-color: turquoise;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;
    margin: 0;
    overflow: hidden; /* Masquer scroll bar */
}


h1 {
    margin: 20px 0 0;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
    
    text-shadow: 2px 2px 2px white;
}

.jeu-contenant {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-contenant {
    fill: white;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-partie {
    display: none;
}

.mauvaises-lettres-contenant {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.mauvaises-lettres-contenant p {
    margin: 0 0 5px;
}

.mauvaises-lettres-contenant span {
    font-size: 24px;
    
}

.mot {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.lettre {
    border-bottom: 3px solid #354961;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-contenant {
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: white;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0,0,0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: rgb(254, 153, 153);
    color: #354961;
    border: 0;
    border-radius: 25%;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:active {
    transform: scale(1.25);
}


.notification-contenant {
    color: white;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px 10px 0 0 ;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

.notification-contenant p {
    margin: 0;
}

.notification-contenant.afficher {
    transform: translateY(-50px);
}
